<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Hoja de vida</title>
</head>
<body>
    <div class="container">

        <section>
            <div class="navigation">
                <h1>Aca va la navegacion</h1>
                <div class="nav">
                    <ul>
                        <li><a href="#aboutMe">Sobre mi</a></li>
                        <li><a href="#skills">Conocimientos</a></li>
                        <li><a href="expEdu">Experiencia</a></li>
                        <li><a href="#education">Educacion</a></li>
                        <li><a href="">Contacto</a></li>

                    </ul>
                </div>
            </div>
        </section>
        <section id="aboutMe">
            <h1>Sobre mi</h1>
            <p>Fecha de nacimiento: 08 de agosto de 1998</p>
            <p>Telefono: 3103969682</p>
            <p>Correo personal: Carlosquiros12@gmail.com</p>
            <p>Correo estudiantil: carlos.quiros@udea.edu.co</p>
            <div class="social">
                <a href="www.facebook.com">Facebook</a>
                <a href="https://github.com/cardacar">Github</a>
                <a href="www.facebook.com">Linkedi</a>
            </div>
        </section>
        <section id="skills" >
            <h1>Conocimientos</h1>
            <p>Html/css 60%</p>
            <p>Javascript 60%</p>
            <p>Python 50%</p>
            <p>Java 40%</p>
            <p>Base de datos no relacionales: MongoDB 50%</p>
            <p>Base de datos relacionales: MySQL 30%</p>
        </section>
        <div class="expEdu">
            <section id="experience">
                <h1>Experiencia</h1>
                <ul>
                    <li>No tengo experiencia de trabajos anteriores, pero tengo los Conocimientos de los
                        proyectos que he realizado y se encuentra en mi Github
                    </li>
                </ul>
            </section>
            <section id="education">
                <h1>Educacion</h1>
                <ul>
                    <li>Bachillerato 2010-2015</li>
                    <p>Institucion Educativa Juan Henrique White-Dabeiba</p>
                    <li>Universidad - Ingenieria de Sistemas 2016-2</li>
                    <p>Universidad de Antioquia</p>
                    <li>Curso Full Stack Javascript Developer 2020-2021</li>
                    <p>Udemy</p>
                </ul>
            </section>
        </div>

    </div>


    <footer>
        <h1>footer</h1>
    </footer>
</body>
</html>