*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: black;
}

.container{
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
    background: #d8e6e4;
    align-content: center;
    grid-template-columns: 1;
    grid-template-rows: 5;
}

.navigation .nav {
    width: fit-content;
    background: slategray;
    

}
.navigation .nav ul li{
    display: inline;

}
.navigation .nav ul li a{
    color: white;
    text-decoration: none;
}

#aboutMe h1{
    background: slategray;
    width: fit-content;
}